name: CI

on:
  workflow_dispatch:
  pull_request:
    paths:
    - '.github/workflows/ci.yml'
    - 'src/**'
    - 'test/**'
    - 'Kiyote.Data.sln'
    - 'Directory.Packages.props'
    - 'Directory.Build.props'
    - 'nuget.config'
    - 'db.sh'
  push:
    branches: [main]

env:
  DOTNET_VERSION: 9.0.305
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true

permissions:
  pull-requests: write
  contents: write

jobs:
  configure:
    name: Configure
    runs-on: [ubuntu-latest]
    outputs:
      MSSQL_SA_PASSWORD: ${{ steps.generate.outputs.MSSQL_SA_PASSWORD }}

    steps:
    - id: generate
      run: |
        echo "MSSQL_SA_PASSWORD=$(cat /dev/urandom | tr -dc _A-Za-z0-9 | head -c${1:-32})" >> $GITHUB_OUTPUT

  csharp:
    name: C#
    runs-on: [ubuntu-latest]
    timeout-minutes: 10
    needs: configure
    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
        - 1433:1433
        env:
          ACCEPT_EULA: 'Y'
          MSSQL_SA_PASSWORD: ${{ needs.configure.outputs.MSSQL_SA_PASSWORD }}
    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Define global.json
      run: dotnet new globaljson --sdk-version ${{ env.DOTNET_VERSION }}

    - name: Compile and Test
      run: dotnet test /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=cobertura
      env:
        KIYOTE__DATA__SQLSERVER__DATASOURCE: 'localhost'
        KIYOTE__DATA__SQLSERVER__USERID: 'sa'
        KIYOTE__DATA__SQLSERVER__PASSWORD: ${{ needs.configure.outputs.MSSQL_SA_PASSWORD }}
        KIYOTE__DATA__SQLSERVER__INITIALCATALOG: 'TESTING'
        KIYOTE__DATA__SQLSERVER__CONNECTIONSTRINGPROVIDER: 'Builder'
          
    - name: Create tool manifest
      run: dotnet new tool-manifest
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    - name: Install dotnet-coverage
      run: dotnet tool install dotnet-coverage
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    - name: Generate coverage file
      run: dotnet dotnet-coverage merge -o coverage.xml **/coverage.cobertura.xml -f cobertura
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    - name: Create Orphan Branch
      shell: bash
      run: ${{ github.workspace }}/create-orphan-branch.sh badges ${{ github.ref_name }}

    - name: Make Coverage Badge      
      uses: action-badges/cobertura-coverage-xml-badges@0.4.0
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      with:
        file-name: coverage.svg
        badge-branch: badges
        github-token: '${{ secrets.GITHUB_TOKEN }}'
        coverage-file-name: ./coverage.xml    
